#mutations-chart rect {
  fill: #4aaeea;
}

#mutations-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
#mutations-chart{
  float: left;
  width: 50%;
}
#chromosomes-chart{
  float: right;
  width: 50%;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

body {
  background: #1a1a1a;
  color: #eaeaea;
  padding: 10px;
}
svg{
    
    padding-top:20px;
}
  
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

